// Variables that can be customized with Nuxeo Studio

// Header & Footer
$header-background: #fff;
$header-tabs: #f26321;
$header-links: #ffffff;
$footer-background: #e8eaee;
$footer-links: #687b93;

// Pages Colors & Fonts
$tabs-horizontal-color: #f26321;
$tabs-vertical-color: #eee;
$link: #ae2b30;
$link-hover: #f26321;
$button-primary: #ae2b30;
$button-import: #ae2b30;
$page-background: #ffffff;
$column-background: #ebebeb;
$default-font: Arial, Helvetica, sans-serif;